
.tags-cover{margin:10px 0; padding: 20px; border:1px solid #ccc;}
.planetName { display: inline-block; border:1px solid #ccc; padding:5px; font-size: 1em; margin: 5px 5px; }
.searchBar{margin-top:20px;}